/**
* @name Nightcord
* @description Nightcord from pjsk !
* @author Tetralink
* @version 1.3
*/
@import url("https://cdn.jsdelivr.net/gh/Tetralink/Nightcord-at-25-00-discord-theme@main/main.css");

:root{
  --purple0 : #2b2642;
  --purple1 : #40385d;
  --purple2 : #524b6d;
  --purple3 : #706c87;
  --purple4 : #b0aad3;
  --purple5 : #cec7f1;
  --black1 : #18182f;
  --bd-brand: var(--purple3);
  --bd-brand-hover: var(--purple3);
  --bd-brand-active: var(--purple3);
}